src/main/resources/countries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.baeldung.com/springsoap/gen"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baeldung.com/springsoap/gen" targetNamespace="http://www.baeldung.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.baeldung.com/springsoap/gen">

            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
             <xs:element name="getCountryRequestA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCountryResponseA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="population" type="xs:int" />
                    <xs:element name="capital" type="xs:string" />
                    <xs:element name="currency" type="tns:currency" />
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP" />
                    <xs:enumeration value="EUR" />
                    <xs:enumeration value="PLN" />
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getCountryResponseA">
        <wsdl:part element="tns:getCountryResponseA" name="getCountryResponseA">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequestA">
        <wsdl:part element="tns:getCountryRequestA" name="getCountryRequestA">
        </wsdl:part>
    </wsdl:message>
     
    <wsdl:message name="getCountryResponseB">
        <wsdl:part element="tns:getCountryResponseB" name="getCountryResponseB">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequestB">
        <wsdl:part element="tns:getCountryRequestB" name="getCountryRequestB">
        </wsdl:part>
    </wsdl:message>
    
        <wsdl:message name="getCountryResponseC">
        <wsdl:part element="tns:getCountryResponseC" name="getCountryResponseC">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequestC">
        <wsdl:part element="tns:getCountryRequestC" name="getCountryRequestC">
        </wsdl:part>
    </wsdl:message>
    
     <wsdl:message name="getCountryResponseD">
        <wsdl:part element="tns:getCountryResponseD" name="getCountryResponseD">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequestD">
        <wsdl:part element="tns:getCountryRequestD" name="getCountryRequestD">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryA">
            <wsdl:input message="tns:getCountryRequestA" name="getCountryRequestA">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponseA" name="getCountryResponseA">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryB">
            <wsdl:input message="tns:getCountryRequestB" name="getCountryRequestB">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponseB" name="getCountryResponseB">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryC">
            <wsdl:input message="tns:getCountryRequestC" name="getCountryRequestC">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponseC" name="getCountryResponseC">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryD">
            <wsdl:input message="tns:getCountryRequestD" name="getCountryRequestD">
            </wsdl:input>
            <wsdl:output message="tns:getCountryResponseD" name="getCountryResponseD">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCountry">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="getCountryA">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequestA">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponseA">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryB">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequestB">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponseB">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryC">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequestC">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponseC">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryD">
            <soap:operation soapAction="" />
            <wsdl:input name="getCountryRequestD">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCountryResponseD">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
   
    
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>